.modal__wrap {
  width: 100%;
  margin-top: 20px;
}

.modal__title {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  color: var(--font-color);
  margin-bottom: 20px;
}

.modal__textarea {
  width: 100%;
  min-height: 250px;
}

.text__small {
  width: 100%;
  margin: 10px 0 20px;
  text-align: left;
  font-size: 1.3rem;
  color: var(--font-color);
  line-height: 2rem;
  vertical-align: middle;
}

.text__red {
  color: var(--color-red);
  font-size: 2rem;
  font-weight: 500;
}