@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;800&family=Orbit&display=swap');

:root {
  --color-beige: #f4f1de;
  --color-red: #e07a5f;
  --color-navy: #3d405b;
  --color-mint: #81b29a;
  --color-yellow: #f2cc8f;
  --color-gray: #bbb;
  --color-white-light: #f0f0f0;

  --font-color: #333;
  --font-light: #888;
  --font-white: #fff;
  --font-black: #000;

  --border-color: #bbb;
  --border-dark: #999;

  --bg-content: #ffffffcc;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: linear-gradient(to top, coral, skyblue), linear-gradient(to right, navy, lightgreen);
  background-blend-mode: screen;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
}

li {
  list-style: none;
}

.content__wrap {
  display: flex;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 150px);
  justify-content: center;
  gap: 20px;
}

.content__body {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  padding: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-content);
  border-radius: 2px;
  margin-bottom: 50px;
}
.content__item {
  width: 100%;
  height: fit-content;
  min-height: 300px;
  text-align: left;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}

/* modal 취소 버튼 */
.modal__cancel {
  width: 100%;
  margin: 20px 0;
  text-align: right;
}

/* ant design 달력 month/year 선택부분 hide */
.ant-picker-calendar-mode-switch {
  display: none;
}
.ant-picker-calendar-month-select {
  margin-right: 3px;
}
/* antd 달력 컨텐츠 부분 */
.ant-picker-calendar-date-content {
  height: 60px !important;
}

/* mobile */
@media (max-width: 720px) {
  .content__wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    min-height: calc(100vh - 80px);
    gap: 20px;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .content__body {
    max-width: 100%;
    margin-bottom: 40px;
  }

  /* modal 취소 버튼 */
  .modal__cancel {
    margin: 10px 0;
    font-size: 1.3rem;
  }

  /* antd 달력 컨텐츠 부분 */
  .ant-picker-calendar-date-content {
    height: 45px !important;
  }
}